* {
    margin: 0;
    padding: 0;
}

.header-flex {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.header-flex{
    display: flex;
}


.header-form {
    display:flex;
    height:38px;
    margin-left: 37px;
    
}

.header-left {
    display:flex;
    align-items: center;
}

.browse {
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
border: 1px solid #e6e6e6;
background-color: #cdcdcc;
background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    justify-content: center;
    width: 87px;
}

.header-right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}
summary {
  display: block;
}

  summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25BC';

  padding-left: 0.3em;
    color: #838383;
font-size: 14px;
    width: 20px;
}

details[open] > summary::after {
  content: '\25BC';
}

summary2 {
  display: block;
}

  summary2::-webkit-details-marker {
  display: none;
}

summary2::after {
  content: '\25BC';

  padding-left: 0.3em;
    color: #ffffff;
font-size: 14px;
    width: 20px;
}

details2[open] > summary2::after {
  content: '\25BC';
}
.logo {
    display: flex;
    align-items: center;
    color: #222222;
font-size: 27px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.68px;
    text-decoration: none;
}

.logoimg {
    margin-right: 13px;
}

.myaccount {
    margin-left: 27px;
    background-color: #f16d7f;
    width: 130px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
border: 1px solid #ececec;
background-color: #ffffff;
}

.menu {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

.menu-link {
    display: block;
    padding: 20px;
    color: #222222;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.promo {
    background-color: #e8e8e8;
}

.promo-content {
    height: 614px;
    background-image: url(img/headerguy.jpg);
    background-position: 0 -51px;
    display: flex;
    align-items: center;
}

.promoh3 {
    color: #222222;
font-size: 40px;
font-weight: 900;
text-transform: uppercase;
}

.promoh2 {
     color: #222222;
font-size: 60px;
letter-spacing: 1.5px;
font-weight: 900;
text-transform: uppercase;
}

.promoword {
    color: #f16d7f;
}

.logo-letter {
    color: #f16d7f;
font-weight: 400;
}

.browse-header {
    color: #222222;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.35px;
    padding: 10px;
}

.header-search {
    border: 1px solid #e6e6e6;
background-color: #ffffff;
    width: 280px;
    color: #a4a4a4;
font-size: 14px;
font-weight: 300;
letter-spacing: 0.35px;
    padding: 14px;
}

.searchbuttonheader {
    border-radius: 0 3px 3px 0;
border: 1px solid #e6e6e6;
background-color: #ffffff;
    width: 38px;
}

.fas {
    color: #a4a4a4;
font-size: 14px;
}

.myaccountsummary {
    color: #ffffff;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.38px;
}

.promo-block {
    display: flex;
    margin-top: 98px;
    justify-content: space-between;
}

.promoblock-left {
    display: flex;
    flex-direction: column;
}


.promo-block-top {
    display: flex;
    width:560px;
}

.promo-block-bottom {
    display: flex;
    justify-content: flex-end;
    width:560px;
    
}

.promo-block-bottom-left {
background-color: #dadad2;
    height: 261px;
}



.promo-block-element {
    position: relative;
}

.promo-block-label {
    position: absolute;
    background-color: #ffffff;
    padding: 16px 18px 16px 18px;
    margin-top:25px;
}

.promoblock-h2 {
    color: #222222;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.45px;
}

.promoblockh1 {
    color: #f16d7f;
    text-transform: uppercase;
font-size: 30px;
letter-spacing: 0.75px;
    font-weight: 900;
}



.promo-block-element-bottom {
    margin-top: 20px;
}

.featured-block {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    
}

.featuredh2 {
    display: flex;
    color: #222222;
font-size: 30px;
font-weight: 700;
letter-spacing: 0.75px;
    justify-content: center;
}

.featuredtext {
    display: flex;
    color: #9f9f9f;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.35px;
    justify-content: center;
    margin-top: 16px;
}

.featured-items-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.featured-items-table {
    display: flex;
}



.featured-item {
    width:261px;
    height: 364px;
    margin-top:40px;
    position: relative;
}

.featured-image {
    display: flex;
   background-color: #e9e9e9;
    justify-content: center;
}

.featured-element {
   width: 261px;
    height: 364px;
    display: block;
    text-decoration: none;
}

.featured-items-element-h3 {
    color: #222222;
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
    margin-left: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.featured-price {
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
    margin-left: 14px;
}

.featured-item-mainlayer {
    display: flex;
    position: absolute;
    
}

.feautered-item-overlay {
    justify-content: center;
    position: absolute;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    display: none;
    
}
.featured-item:hover .feautered-item-overlay {
    display: block;
}

.overlay-top {
    display: flex;
    justify-content: center;
    width: 261px;
    height: 280px;
    background-color: #3a3838;
    opacity: 0.8;
}

.addtocart-button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 38px;
    background: none ;
    border: 1px solid #ffffff;
    color: #ffffff;
font-size: 13px;
font-weight: 400;
    margin-top: 98px;
}

.cart-overlay {
    width: 22px;
    height: 22px;
}

.overlay-bottom {
    width: 261px;
    height: 84px;
}
